@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Satisfy&display=swap');
.table-container {
    width: 100%;
    height: 92vh;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin-top: 70px;
    background-image: url("D:\App Development\my-app\src\assets\css\images\snapedit_1709029649755.jpeg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .empty-table-image-container {
    height: 100vh;
    width: 100%;
    display: flex;
  }
  .empty-table-image-container-left {
    height: 70vh;
    width: 50%;
    background-image: url("D:\advanced-app-development\Advanced App development\my-app\src\assets\Images\instructorPageImgages\empty-table.jpg");
    background-position: center;
    background-size: cover;
  }
  .empty-table-image-container-left {
    height: 70vh;
    width: 50%;
  }
  .empty-table-image-container-right h1 {
    font-size: 50px;
    color: #7a7a7a;
    padding-left: 650px;
    padding-top:50px;
  }
  .empty-table-image-container-right {
    height: 92vh;
    width: 100%;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
  }
  .user-table123{
    width: calc(100% - 250px);
    position: relative;
    padding: 20px;
    border-radius: 30px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3); 
    box-shadow: 10px 10px 10px rgba(59, 59, 59, 0.5);
  }
  .user-table123 h1{
    /* font-family: "Pacifico", cursive; */
    font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
    margin-bottom: 10px;
    font-size: 30px;
    color: #333;
    text-align: center;
}
  table {
    width: 100%;
    /* backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3); 
    box-shadow: 10px 10px 10px rgba(59, 59, 59, 0.5);
    border-radius: 30px;
    margin-bottom: 10px; */
  }
  
  th,
  td {
    background-color:#ffffff;
    border-radius: 10px;
    padding: 10px 20px 20px 30px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    border: 1px solid rgb(152, 152, 152);
  }
  
  th {
    background-color: #c9c9c9;
    color: #000000;
    /* font-family: "Protest Guerrilla", sans-serif; */
    padding: 15px;
    font-weight: 350;
    font-style: normal;
  }
  
  /* tr:nth-child(even) {
    background-color: #f2f2f2;
  } */
  
  .query-reply {
    height: 35px;
    width: 70%; 
    margin-right: 5px;
    background-color: #00aaff;
    color: #000000;
    border: none;
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 350;
    font-style: normal;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 10px;
    border: 1px solid black;
  }
  
  .query-reply:hover {
    background-color: #9d9e9e;
  }
  

  .goBack {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(
      100% 100% at 100% 0,
      #5adaff 0,
      #5468ff 100%
    );
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    margin-top: 50px;
  }
  
  .goBack:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
  .goBack:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .goBack:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }