@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Caprasimo&family=Caveat:wght@400;500&family=Comforter&family=Dancing+Script:wght@500&family=Fasthand&family=Lilita+One&family=Lora:ital@1&display=swap');

.groundabout{
    height: 90vh;
    /* background-size: cover; */
    display: flex;
    background-image: url("./images/AboutImg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.contact-containerabout{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.contact-containerabout textarea{
    margin-top: 35px;
    border-radius: 20px;
    height: 95px;
    width: 70%;
    font-weight: 600;
    font-size: 0.9rem;
    padding-left: 40px;
}
.content-ffnabout{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 90px;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 70vh;
    /* color: white ; */
    /* padding-top: -30px; */
    border-radius: 10px;
    background: transparent;       
    font-weight: 600;
    font-size: 1.5rem;
    font-family:'Lora', serif;
    
}
.photoabout{
    display: flex;
    margin-left: 95px;
    margin-top: 20px;
    /* padding-top: 2px; */
    border-radius: 50px;
    width: 70%;
    height: 70%;
    background-image: url("../css/images/logo.png");
    background-size: cover;
}
.about-cs{
    margin-right: 50px;
    margin-left: 150px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 70vh;
    border-radius: 50px;
    background-color: rgb(27, 1, 27);
    
    
}

.about-cs p{
    z-index: 2;
    margin-left: 10px;
    color: whitesmoke;
    /* padding-top:30px; */
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.2rem;
}
::-webkit-scrollbar{
    display: none;
}

