.Home {
    display: flex;
    justify-content: center; 
    align-items: center;
    background: rgba(39, 39, 39, 0.4);
    background: url("./images/HomeBac.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100;

}
  .themeHome {
    width: 150px;
    background-color: black ;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
    font-family: 'Lora', serif; 
    text-decoration: none;
  
  }
  .themeHome:hover{
       background-color: orangered;
  }
  .contentHome{
    font-size: 20px;
    text-align: center;    
    /* margin-top: 10px; */
    animation: slideInFromLeft 1.5s ease-out forwards;
  }
  .typeHome{
    margin-top: 30px;
  }
  ::-webkit-scrollbar{
    display: none;
  }
    
  @keyframes slideInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }